.tarjetaAncha{

    width: 60px;
    height: 40px;
}



  .footerText {
    color: darkslategray!important;
    font-size: 14px;
  }
  
  .footerIcons {
    color:darkcyan;
    font-size: 1rem;
  }
  
